.form-field {
  display: block;
}
.datepicker {
  width: 25%;
}
.food-card {
  width: 500px;
  padding: 10px;
  box-shadow: 0 1px 2px 0 #E8E8E8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 15px;
}
.food-img {
  padding: 10px;
  width: 200px;
  height: 150px;
}
.quantity-input {
  width: 40px;
  display: inline-block;
  border: 1px solid #551A8B;
  border-radius: 3px;
  padding: 3px;
}
.success-msg {
  margin-top: 20px;
  background-color: #3f51b5;
  border-radius: 5px;
  padding: 25px;
  color: #ffffff;
  text-align: center;
  width: 226px;
}

.quantity-input:focus {
  border: 1px solid #CE5491;
}
.food-details {
  margin: 0 10px 0 10px;
  align-self: flex-start;
}
.food-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
button {
  margin-right: 20px;
}
.food-details p span:first-child {
  font-size: 14px;
  color: #A0A0A0;
}
.food-details p span:nth-child(2) {
  text-align: right;
}
